<?xml version="1.0"?>
<launch>

  <arg name="hardware_interface" default="thor"/>
  <arg name="robot_name" default="iiwa"/>
  <arg name="model" default="iiwa14"/>
  
  <group ns="$(arg robot_name)">
    <include file="$(find iiwa_moveit)/launch/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="model" value="$(arg model)" />
    </include>
    
    <node pkg="rviz" name="$(anon rviz)" type="rviz" respawn="false" args="-d $(find iiwa_app)/config/configuration_manager_rviz.rviz" output="screen">
      <rosparam command="load" file="$(find iiwa_moveit)/config/kinematics.yaml"/>
    </node>

  </group>
  
</launch>

