<launch>
  <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen"> 
    <param name="num_worker_threads" value="20" />
  </node>
  
  <rosparam command="load" file="$(find iiwa_app)/config/test.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_1.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_2.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_3.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_4.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_5.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_6.yaml" />
  <rosparam command="load" file="$(find iiwa_app)/config/iiwa_joint_7.yaml" />
  
  <!--
  <param name="use_gui" value="true"/>
  <param name="//publish_default_velocities" value="true"/>
  <param name="/publish_default_efforts" value="true"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <remap from="/joint_states" to="/joint_pos_target"/>
  </node> 
  -->
  
  <!-- LAUNCH INTERFACE -->
  <arg name="hardware_interface" default="VelocityJointInterface"/>
  <arg name="robot_name" default="iiwa"/>
  
  <!-- LAUNCH IMPLEMENTATION -->
  <rosparam command="load" file="$(find iiwa_hw)/config/joint_names.yaml" />
  <!-- addresses /-->
  <param name="/iiwa/interface" value="$(arg hardware_interface)"/>
  
  <!-- the real hardware interface /-->
  
  <node pkg="itia_controller_manager" type="controller_manager" name="controller_manager" output="screen"> 
    <!--<remap from="/state/CartesianPose"      to="/iiwa/state/CartesianPose" />
    <remap from="/state/CartesianWrench"    to="/iiwa/state/CartesianWrench"  />
    <remap from="/state/DestinationReached" to="/iiwa/state/DestinationReached" />
    <remap from="/state/JointDamping"       to="/iiwa/state/JointDamping"/>
    <remap from="/state/JointPosition"      to="/iiwa/state/JointPosition"/>
    <remap from="/state/JointPositionVelocity"  to="/iiwa/state/JointPositionVelocity"/>
    <remap from="/state/JointStiffness"         to="/iiwa/state/JointStiffness"/>
    <remap from="/state/JointTorque"            to="/iiwa/state/JointTorque"/>
    <remap from="/state/JointVelocity"          to="/iiwa/state/JointVelocity"/>-->
  </node>
<!--   <include file="$(find iiwa_description)/launch/iiwa14_upload.launch"/> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find iiwa_on_table)/urdf/IIWAeCart.xacro'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="iiwa_robot_state_publisher"/>
</launch>
